$regular: 400;
$bold: 700;

$bg: #f2f2f2;
$bg-white: #ffffff;
$bg-blue: #81b3d2;
$bg-grey: #eeeeee;
$bg-brown: #766357;
$bg-input-hover: #ebebeb;
$bg-toggle: #82b3d3;

$text-white: #ffffff;
$text: #333333;
$text-black: #000000;
$text-title-hover: #81b3d2;
$text-title-active: #cacaca;
$text-hover: #94b9d2;
$text-active: #5496bd;
 
$btn-hover: #669ec0;
$btn-active: #5496bd;

$icon: #81b3d2;

$border: #6490ab;
$border-descr: #d5d5d5;