.copyright {

	@include breakpoint(md) {
		width: 33.3%;
	}

	&__text {
		font-weight: $regular;
		font-size: 14px;
	}

	&__img {
		
		@include breakpoint(md) {
			height: 40px;
			width: 115px;
		}
	}
}